The current time and date is : <%=@variable1%>
<html>
<head>

	<div id="footer">
		<p align="center">Zaid Kurchied</p>
		<h1 align="center"><font size="12" color="Grey">WHEEL AND DEAL</font></h1>
	</div>
	</body>

<style> 


body {
    background-image: url("../assets/rails.jpg"), url("img_flwr.gif");
    background-color: #cccccc;
}
</style>
</head>
<head> 
	<style type="text/css"> .pic{ width:1400px; height:1117px; 
	background: url("../assets/red.jpg") no-repeat; } 
	.text
{ 
	width:340px; height:217px; background:#FFF; opacity:0; 
} 	.pic:hover .text 
{ 
	opacity:0.6; text-align:justify; color:#000000; font-size:20px; font-weight:700; 
	font-family:"Times New Roman", Times, serif; padding:30px; } 
	</style>
</head> 
 <body> 
 <div class="pic"> 
 <div class="text"> Dream it.Drive it.Live it.Every luxury must be paid for, and everything is a luxury, starting here.</div>
<script>




