<h1>ContactForm#new</h1>
<p>Find me in app/views/contact_form/new.html.erb</p>
=simple_form_for @contact_form do|f|
	=f.input :name, :required => false
	=f.input :email, requried =>false
	=f.input :message, :as => :text, :required =>false
	.hidden
	=f.input :nickname, :hint => ''
	=f.button :submit, 'send'